#panelHolder .contentItemContent>div>div[style]:nth-child(2){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#panelHolder .contentItemContent>div>div>div:nth-child(1){
    order:-2;
}
#panelHolder .contentItemContent>div>div>div:nth-child(2){
    order:-2;
}
#panelHolder .contentItemContent>div>div>div:nth-child(47){
    order: -1;
}
