#userInfoHolder .contentItemContent>div>div[style]:nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#userInfoHolder .contentItemContent>div>div>div:nth-child(1) {
    order: -2;
}

#userInfoHolder .contentItemContent>div>div>div:nth-child(2) {
    order: -2;
}

#userInfoHolder .contentItemContent>div>div>div:nth-child(47) {
    order: -1;
}