/* markdown代码段美化 */
.markDownBox pre {
  border-radius: 4px;
  overflow: auto;
}

/* 标题图片大小优化 */
.markDownBox h1>img, h2>img, h3>img, h4>img, h5>img, h6>img {
  vertical-align: middle !important;
  height: 0.9em !important;
}
